<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Robots</title>
    <link href="<?php echo base_url() . 'style/admin/' ?>css/bootstrap.css" rel="stylesheet" />
    <link href="<?php echo base_url() . 'style/admin/' ?>css/homepage.css" rel="stylesheet" />
    <link href="<?php echo base_url() . 'style/admin/' ?>css/common.css" rel="stylesheet" />
    <script src="<?php echo base_url() . 'style/admin/' ?>js/jquery.min.js"></script>
    <script src="<?php echo base_url() . 'style/admin/' ?>js/bootstrap.js"></script>
</head>

<body>
    <?php echo $this->load->view('admin/home/homenav.html') ?>
    <div>

        <div class="main-wrap">
            <div class="warp">
                
            </div>
        </div>
    
    
        <div class="footer">
            <div class="aboutus">
                <div class="aboutus-bottom">
                    <ol class="nav footer-about">
                        <li>
                            <a href="#" target="_blank">联系我们</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">关于我们</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">友情链接</a>
                        </li>
                    </ol>
                    <ol class="nav footer-follow">
                        <li class="focusus">关注我们</li>
                        <li><a href="" target="_blank"></a></li>
                        <li><a href="" target="_blank"></a></li>
                        <li><a href="" target="_blank"></a></li>
                        <li><a href="" target="_blank"></a></li>
                    </ol>

                </div>
                <p class="bottom-info">
                    <span class="info">
                        <span>电话查号台：010-62793001</span>
                        <span>管理员信箱：xinxiban@tsinghua.edu.cn</span>
                        <span>地址：北京市海淀区清华大学</span>
                    </span>
                    <span class="copy">版权所有 © 清华大学　　访问量:<span id="total">74373275</span></span>
                </p>
            </div>
        </div>
    </div>

</body>

    

</html>