.container{
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}

.navbar{
	position: relative;
	height: 80px;
	margin-bottom: 0;
}

.navbar-header{
	width:820px;
	height: 80px;
	margin-right: 0;
	margin-left: 0 ;
	position: absolute;
}

.navbar-default{
	background-color: #fff;
	border:0;
}

.navbar-brand{
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
	width: 390px;
	height: 50px;
}

.navbar-form{
	margin-top:0;
	margin-bottom: 0;
	position: relative;
	width: 30%;
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
	padding-top: 22.5px;
	padding-bottom: 22.5px;
	float: right!important;
}

.navbar-collapse{
	height:80px!important;
}

.navbar-button{
	margin-right: 50px;
	height: 23px;
    width: 23px;
	float:right;
	background: #FFFFFF;
	margin-top: 28.5px;
	margin-bottom: 28.5px;
	padding: 0;
	position: absolute;
	top: 0;
	right: 10px;
	box-shadow: none;
	border: none;
}


.nav-main{
	background: #00B4B4;
	border-top: 0;
	position: relative;
	height: 36px;
	width: 100%;
	margin-bottom: 20px;
}

.nav-main li{
	float: left;
	margin-right: 20px;
	vertical-align: baseline;
	font-family: 'Microsoft YaHei';
}

.nav-main li a{
	color: #fff;
	display: block;
	font-size: 16px;
	line-height: 36px;
	width: 116px;
	text-align: center;
	text-decoration: none;
}

.nav-main li a:hover{
	background: #009595;
	text-decoration: none;
	cursor: pointer;
}

.dropdown li a{
	font-size: 14px;
	line-height: 38px;
	font-size: 14px;
	width:200px;
	color: #fff;
	padding: 0 0 0 15px;
	text-align: left;
}

.dropdown li a:hover{
	background: #006464;
}

/**
**主体部分
**/
.header{
	background: url('../images/1.jpg') 50% 50%;
	background-size: cover;
	width: 100%;
	height:350px;
	margin: -20px 0 40px;
}

.wrap{
	width: 1000px;
	margin: 0 auto;
}

.main-wrap{
	width: 100%;
	float: center;
	padding: auto;
	min-width: 320px;
	min-height: 720px;
	background-color: #f3f3f3;
}

.main-wrap:before{
	content: '';
	display: table;
}

.main-wrap:after{
	clear: both;
	content: '';
	display: table;	
}

.title-a{
	font-size: 20px;
	line-height: 20px;
	width: 98%;
	max-width: 1000px;
	padding: 30px 16px;
	color:#00B4B4;
	font:20px;
	position: relative;
}

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel{
	overflow: hidden;
	position: relative;
	width: 100%;
}

.owl-wrapper-outer{
	overflow: hidden;
	position:relative;
	width:1000px;
	margin:auto;
}

.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}



.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.owl-buttons div{
	position:relative;
	top:50%;
	width:52px;
	height:81px;
	margin-top:-90px;
	color: #333;
}

.owl-buttons .glyphicon-chevron-left{
	font-size: 50px;
	margin-top: 60px;
	color: #333;
	position: absolute;
	left: -50px;
	top: 50%;
}

.owl-buttons .glyphicon-chevron-right{
	font-size: 50px;
	margin-top: 60px;
	color: #333;
	position: absolute;
	right: 100px;
	top: 50%;
}
/*.owl-prev:hover{background-position:-53px 0;}
.owl-next:hover{background-position:-122px 0;}*/

.main-wrap .robots_new{
	width:1000px;
	margin:auto;
	float:center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.main-wrap .robots_new ul{
	width: 1000px;
	height: 780px;
	padding: 0;
}

.main-wrap .robots_new li{
	height: 370px;
	float: left;
	list-style: none;
	position: relative;
	width: 230px;
	margin-right: 20px;
	background: #ffffff;
	margin-bottom: 20px;
}

.main-wrap .robots_new li:before{
	display: table;
	content: "";	
}


.main-wrap .robots_new li:after{
	clear: both;
	display:table;
	content: "";
}

.main-wrap .robots_new li a{
	display: block;
	position: relative;
}

.main-wrap .robots_new .shade img{
	width:230px;
	height: 230px;
	vertical-align: top;
	position: relative;
}


.main-wrap .robots_new .robots_name{
	vertical-align: baseline;
	padding-left: 15px;
	bottom: 0;
	color: #fff;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	width: 100%;
	height: 25px;
	line-height: 25px;
}

.main-wrap .robots_new .robots_info{
	padding: 0 10px;
	margin-top: 9px;
	font-size: 12px;
}

.main-wrap .robots_new .robots_info span{
	overflow: hidden;
	display: block;
	color:#333;
}

.main-wrap .robots_new .robots_info h5{
	margin-right: 10px;
	display:inline;
	font-size: 12px;
	line-height: 1.4;
	color:#00B4B4;
}


.main-wrap .robots_featured{
	width:1000px;
	margin:auto;
	float:center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.main-wrap .robots_featured ul{
	width: 1000px;
	height: 780px;
	padding: 0;
}

.main-wrap .robots_featured li{
	height: 370px;
	float: left;
	list-style: none;
	position: relative;
	width: 230px;
	margin-right: 20px;
	background: #ffffff;
	margin-bottom: 20px;
}

.main-wrap .robots_featured li:before{
	display: table;
	content: "";	
}


.main-wrap .robots_featured li:after{
	clear: both;
	display:table;
	content: "";
}

.main-wrap .robots_featured li a{
	display: block;
	position: relative;
}

.main-wrap .robots_featured .shade img{
	width:230px;
	height: 230px;
	vertical-align: top;
	position: relative;
}


.main-wrap .robots_featured .robots_name{
	vertical-align: baseline;
	padding-left: 15px;
	bottom: 0;
	color: #fff;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	width: 100%;
	height: 25px;
	line-height: 25px;
}

.main-wrap .robots_featured .robots_info{
	padding: 0 10px;
	margin-top: 9px;
	font-size: 12px;
}

.main-wrap .robots_featured .robots_info span{
	overflow: hidden;
	display: block;
	color:#333;
}

.main-wrap .robots_featured .robots_info h5{
	margin-right: 10px;
	display:inline;
	font-size: 12px;
	line-height: 1.4;
	color:#00B4B4;
}

.footer{
	background-color:#fff;
	display: block;
}

.footer .wrap{
	padding-top:60px;
	display: block;
	border: none;
}

.footer ul{
	margin:0;
	display: block;
}

.footer ul:before{
	content: '';
	display: table;
}

.footer ul:after{
	clear: both;
	content: '';
	display: table;
}

.footer li{
	float:left;
	width: 260px;
	text-align: center;
	margin-left: 10px;
}

.footer .title{
	margin: 0 auto 20px;
	width: 141px;
	height: 141px;
	background: #b4b4b4;
	border-radius: 60%;
	text-align: center;
} 

.footer .title a{
	display: block;
	width: 141px;
	height: 141px;	
}

.footer .title .view{
	font-size: 16px;
	color: #fff;
	padding-top: 55px;
}

.footer .content{
	margin-top: 10px;
}

.footer li p{
	line-height: 25px;
	height: 25px;
	margin: 0;
}

.footer li p a{
	color: #333;
	font: 12px/1.5 Helvetica Neue,tahoma,arial,"Hiragino Sans GB",Microsoft YaHei,\5b8b\4f53;
}

.footer li p a:hover{
	color: #B4B4B4;
}



.footer .aboutus{
	background: #00B4B4;
	color: #fff;
	padding: 80px 95px;
	margin-top: 80px;
	font-size: 14px;
	line-height: 30px;
}

.footer .aboutus .aboutus-bottom{
	margin-bottom: 20px;
	width: 1000px;
	margin:auto;
}

.footer .aboutus .aboutus-bottom:before{
	content: '';
	display: table;
}

.footer .aboutus .aboutus-bottom:after{
	clear: both;
	content: '';
	display: table;
}

.footer .aboutus .footer-about{
	list-style: none;
	margin-bottom: 20px;
	width: 450px;
	float: left;
}

.footer .aboutus .footer-about li{
	display: inline-block;
	padding:0;
	margin: 0;
	width: 120px;
	float: left;
}


.footer .aboutus .footer-about li a{
	color: #fff;
	padding: 0;
	margin-left: 30px;
	margin-right:30px;
	display: inline-block;
	vertical-align: baseline;
}

.footer .aboutus .footer-about li a:hover{
	background: #00B4B4;
	text-decoration: underline;
}

.footer .aboutus .footer-follow{
	margin-bottom: 20px;
	position: relative;
	float: right!important;
}

.footer .aboutus .footer-follow:before{
	content: '';
	display: table;
}

.footer .aboutus .footer-follow:after{
	clear: both;
	content: '';
	display: table;
}

.footer .aboutus .footer-follow li{
	width:5px;
}

.footer .aboutus .footer-follow li:hover{
	text-decoration:underline;
}

.footer .aboutus .footer-follow .focusus{
	width: 150px;
}

.footer .aboutus .footer-follow .focusus:hover{
	text-decoration: none;
}

.footer .aboutus .bottom-info{
	border-top: 1px solid #009696;
	clear: both;
	font-size: 12px;
	padding-top: 15px;
	width:1000px;
	float: center;
	margin: auto;
}

.footer .aboutus  .bottom-info .info span{
	margin-right: 20px;
}

.footer .aboutus  .bottom-info .copy{
	float:right;
}




/**
Robots单页部分
**/
.warp{
	width: 1000px;
	margin: auto;
}

.top {
	background-color: #FFF;
	border: 1px solid #e9e9e9;
	margin: auto;
	height:500px;
	padding: 2%;
	width: 100%;
	min-height: 295px;
	position: relative;
}

.top:after, .top:before {
	content: " ";
	display: table;
}

.top:after {
	clear: both;
}

.top .robots-title {
	max-width: 300px;
	color:#00B4B4;
	font-size: 24px;
	line-height: 1.8;
	margin-left:10px;
}

.top .robots-img{
	position: absolute;
	top: 20px;
	right: 20px;
	overflow: hidden;
	float:right;
	margin: 0 120px;
}

.top .robots-img img{
	width:100%;
	height: 100%;
	vertical-align: top;
	position: relative;
}

.top .robots-info{
	max-width: 350px;
	padding: 0 10px;
	margin-top: 9px;
	font-size: 14px;	
}

.top .robots-info span{
	overflow: hidden;
	display: block;
	color:#333;
}

.top .robots-info h5{
	margin-right: 10px;
	display:inline;
	font-size: 14px;
	line-height: 2;
	color:#00B4B4;
}

.top .robots-info .robots_details{
	margin-top:20px;
	line-height: 2;
}

.main {
	width: 68%;
	float: left;
	margin-right: 2%;
	margin-top: 30px;
}

.tabs_box {
	background-color: #FFF;
	margin: 0 auto 2.94118%;
	padding: 0;
	width: 100%;
	border: 0;
	margin-bottom: 0;
}

.tabs_box:after, .tabs_box:before {
	content: " ";
	display: table;
}

.tabs_box:after {
	clear: both;
}

.tabs_box>.tabs {
	border: 1px solid #e9e9e9;
	padding-left: 10px;
}

.tabs_box>.tabs li {
	border-right: 1px solid #e9e9e9;
	display: inline-block;
	margin: 15px 0;
	width: 16%;
	text-align: center;
}

.tabs_box>.tabs li a {
	color: #666;
	font-size: 18px;
}

.tabs_box>.tabs li.active a, .tabs_box>.tabs li:hover a {
	color: #1caaea;
	text-decoration: none;
}


.intro_box {
	display: block;
	background-color: #FFF;
	margin: 0 auto 2.94118%;
	padding: 2.94118%;
	width: 100%;
	border: 1px solid #e9e9e9;
	border-top: 0;
	margin-bottom: 0;
}

.intro_box:after, .intro_box:before {
	content: " ";
	display: table;
}

.intro_box:after {
	clear: both;
}
