<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Robots</title>
    <link href="<?php echo base_url() . 'style/admin/' ?>css/bootstrap.css" rel="stylesheet" />
    <link href="<?php echo base_url() . 'style/admin/' ?>css/homepage.css" rel="stylesheet" />
    <link href="<?php echo base_url() . 'style/admin/' ?>css/common.css" rel="stylesheet" />
    <script src="<?php echo base_url() . 'style/admin/' ?>js/jquery.min.js"></script>
    <script src="<?php echo base_url() . 'style/admin/' ?>js/bootstrap.js"></script>
</head>
<body>
<!-- 头部 -->
	<div id="top_box">
		<div id="top">
			<p id="top_font">后盾网文章系统后台管理首页 （V1.1）</p>
		</div>

	</div>


</body>
</html>
<!--[if IE 6]>
    <script type="text/javascript" src="<?php echo base_url() . 'style/admin/' ?>js/iepng.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('.adm_pic, #left_box .pos, .span_server, .span_people', 'background');
    </script>
<![endif]-->
