<!--登录导航条-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid  container">
            <div class="navbar-header">
                <a href="" class="navbar-brand"></a>
                <form action="" class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索"/>
                        <button class="glyphicon glyphicon-search navbar-button" type="submit"></button>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-sign">
                        <a href="">
                            注册
                        </a>
                    </li>
                    <li class="navbar-login">
                        <a href="">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="nav nav-main" id="navMain">
        <ul class="container">
            <li >
                <a href="<?php echo site_url() . '/index/home/home'?>">首页</a>
            </li>
            <li>
                <a href="<?php echo site_url() . '/index/home/news'?>">机器人</a>
            </li>
            <li>
                <a href="<?php echo site_url() . '/index/home/news'?>">社区</a>
            </li>


        </ul>
    </nav>