<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MI研究所</title>
    <link href="<?php echo base_url() . 'style/index/' ?>css/bootstrap.css" rel="stylesheet" />
    <link href="<?php echo base_url() . 'style/index/' ?>css/homepage.css" rel="stylesheet" />
    <link href="<?php echo base_url() . 'style/index/' ?>css/common.css" rel="stylesheet" />



</head> 
<body>
    <?php echo $this->load->view('index/home/homenav.html') ?>
    <div>
        
        <div class="main-wrap">
            <div class="warp">
                <div class="top">
                    <h1 class="robots-title">
                        Rollin' Justin
                    </h1>
                    <div class="robots-img">
                        <img src="<?php echo base_url() . 'style/index/' ?>images/5.jpg" alt="" />
                    </div>
                    <div class="robots-info">
                        <span class="robots_creator"><h5>CREATOR:</h5>NASA Johnson Space Center and GM</span>
                        <span class="robots_location"><h5>COUNTRY:</h5>United States</span>
                        <span class="robots_year"><h5>YEAR:</h5>2010</span>
                        <span class="robots_type"><h5>TYPE:</h5>Areospace;Humanoid</span>
                        <span class="robots_details"><h5>DETAILS:</h5>Rollin's Justin is a dexterous humanoid robot
                            used to research robotics applications in home and industrail settings and in space.It 
                            can catch balls, macke coffee, and is learning to fix satellites</span>
                    </div>
                </div>
                <div class="main">
                    <div class="tabs_box">
                        <ul class="tabs" id="tabs">
                            <li><a href="javascript:void 0;">Speces</a></li>
                            <li><a href="javascript:void 0;">Articles</a></li>
                        </ul>
                    </div>
                    <div class="intro_box">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="aboutus">
                <div class="aboutus-bottom">
                    <ol class="nav footer-about">
                        <li>
                            <a href="#" target="_blank">联系我们</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">关于我们</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">友情链接</a>
                        </li>
                    </ol>
                    <ol class="nav footer-follow">
                        <li class="focusus">关注我们</li>
                        <li><a href="" target="_blank"></a></li>
                        <li><a href="" target="_blank"></a></li>
                        <li><a href="" target="_blank"></a></li>
                        <li><a href="" target="_blank"></a></li>
                    </ol>

                </div>
                <p class="bottom-info">
                    <span class="info">
                        <span>电话查号台：010-62793001</span>
                        <span>管理员信箱：xinxiban@tsinghua.edu.cn</span>
                        <span>地址：北京市海淀区清华大学</span>
                    </span>
                    <span class="copy">版权所有 © 清华大学　　访问量:<span id="total">74373275</span></span>
                </p>
            </div>
        </div>
    </div>

</body>
    <script src="<?php echo base_url() . 'style/index/' ?>js/jquery.min.js"></script>
    <script src="<?php echo base_url() . 'style/index/' ?>js/bootstrap.js"></script>
</html>
